.popularRestaurantMain {
  height: 365px;
  width: 100%;
  margin-top: 40px;
}
.popularRestaurantSection {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  flex-shrink: 0;
}
.popularRestaurantSection > h4 {
  color: #000000;
  font-size: 26px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  flex-shrink: 0;
}
.RestaurantImage {
  display: flex;
  gap: 20px;
}
.popularRestaurantDiv1 {
  height: 250px;
  width: 15.4%;
  background: #fc8a06;
  border-radius: 12px;
  flex-shrink: 0;
  margin-top: 30px;
  cursor: pointer;
  overflow: hidden;
}
.RestaurantImageMain {
  height: 183px;
  width: 100%;
}
.RestaurantImageMain > img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}
.restaurantBoxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.restaurantBoxes > h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  flex-shrink: 0;
}

@media (max-width: 1200px) {
  .popularRestaurantDiv1 {
    height: 200px;
    display: flex;
    flex-direction: column;
  }
  .RestaurantImageMain {
    height: 200px;
    gap: 5px;
  }
  .RestaurantImageMain > img {
    object-fit: fill;
  }
  .restaurantBoxes {
    margin: 10px 10px;
  }
  .restaurantBoxes > h3 {
    font-size: 14px;
  }
  .RestaurantImage {
    gap: 15px;
  }
}
@media (max-width: 1200px) {
  .popularRestaurantDiv1 {
    height: 170px;
    display: flex;
    flex-direction: column;
  }
  .RestaurantImageMain {
    height: 200px;
    gap: 3px;
    overflow-y: hidden;
  }
  .restaurantBoxes > h3 {
    font-size: 12px;
  }
  .popularRestaurantMain {
    height: 280px;
  }
}
@media (max-width: 992px) {
  .popularRestaurantDiv1 {
    width: 140px;
  }
  .popularRestaurantMain {
    margin-left: 30px;
    width: 92%;
  }
  .RestaurantImage {
    overflow-x: scroll;
    overflow-y: hidden;
    overflow-y: hidden;
    scrollbar-width: thin;
  }
}
