.mainEditPaymentCard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.containerEditPaymentCard {
  background: white;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}

.containerEditPaymentCard h2 {
  font-size: 1.5rem;
  text-align: left;
  padding: 0 30px;
  padding-top: 20px;
}

.containerEditPaymentCard form {
  display: grid;
  gap: 15px;
}

.containerEditPaymentCard label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  /* gap: 30px; */
  padding: 0 30px;
}

.containerEditPaymentCard input {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 73%;
  padding: 0 30px;
}

.actionsEditPaymentCard {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
  background: #fc8a06;
  height: 100px;
  width: 100%;
  padding: 0 20px;
  position: relative;
}

.removeBtnEditPaymentCard {
  position: absolute;
  background: #bf4c4c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 120px;
  background: #663700;
  left: 20px;
  bottom: 25px;
}

.cancelBtnEditPaymentCard {
  background: none;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.saveBtnEditPaymentCard {
  background: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 150px;
}

.buttonEditPaymentCard {
  display: flex;
  gap: 5px;
}
@media (max-width: 1280px) {
  .containerEditPaymentCard input {
    width: 65%;
  }
}
@media (max-width: 992px) {
  .containerEditPaymentCard label {
    font-size: 17px;
  }
  .containerEditPaymentCard {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .mainEditPaymentCard {
    align-items: start;
  }
  .containerEditPaymentCard {
    height: 350px;
    width: 70%;
    margin-top: 70px;
  }
}
@media (max-width: 768px) {
  .mainEditPaymentCard {
    align-items: start;
  }
  .containerEditPaymentCard {
    height: 350px;
    width: 70%;
    margin-top: 70px;
  }
  .containerEditPaymentCard > h2 {
    padding-top: 10px;
  }
  form {
    margin-top: 10px;
  }
  .removeBtnEditPaymentCard {
    bottom: 0;
  }
}
@media (max-width: 600px) {
  .containerEditPaymentCard label {
    font-size: 15px;
  }
  .containerEditPaymentCard input {
    width: 55%;
    height: 30px;
  }
  .containerEditPaymentCard h2 {
    font-size: 1rem;
  }
  /* .cancelBtnEditPaymentCard{
    display: none;
  } */
  .actionsEditPaymentCard {
    margin-top: 5px;
    background: none;
    justify-content: start;
    gap: 10px;
  }
  .buttonEditPaymentCard {
    width: 100%;
    justify-content: end;
  }
  .saveBtnEditPaymentCard {
    background: #fc8a06;
    width: 50%;
    color: #ffffff;
  }
  .removeBtnEditPaymentCard {
    width: 42%;
  }
  .containerEditPaymentCard {
    height: auto;
  }
  .removeBtnEditPaymentCard {
    bottom: 25px;
  }
}

@media (max-width: 450px) {
  .containerEditPaymentCard label {
    font-size: 13px;
  }
  .containerEditPaymentCard input {
    width: 60%;
    font-size: 0.7rem;
  }
  .containerEditPaymentCard h2 {
    font-size: 1rem;
  }
  .containerEditPaymentCard form {
    gap: 5px;
  }
  .actionsEditPaymentCard {
    margin-top: 0;
  }
  .containerEditPaymentCard {
    width: 90%;
  }
}
