.containerProfile {
  padding: 0 70px;
}
.allNavProfile {
  padding: 0 50px;
}
.checkoutNameProfile {
  width: 346px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 50px;
  margin-top: 40px;
}
.checkoutNameProfile > img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.checkoutNameProfile > h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
}
.profileContainer {
  padding: 0 50px;
  margin-top: 30px;
}
.ImageContainerProfile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imageProfile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.imageProfile > img {
  height: 70px;
  width: 70px;
}
.imageProfile > p {
  font-size: 20px;
  font-weight: 600;
}
.saveEditButtonProfile > button {
  height: 36px;
  width: 60px;
  background: #fc8a06;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.profileDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
}
.userNameProfile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.userNameProfile > input {
  width: 98%;
  height: 40px;
  background: #f9f9f9;
  outline: none;
  border: none;
  border-radius: 6px;
  padding-left: 20px;
}
.userNameProfile > input:focus {
  outline: 0.5px solid #afafaf;
}
.userNameProfile > p {
  font-size: 12px;
  font-weight: 400;
}
.userEmailProfile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.userEmailProfile > input {
  width: 100%;
  height: 40px;
  background: #f9f9f9;
  outline: none;
  border: none;
  border-radius: 6px;
  padding-left: 20px;
}
.userEmailProfile > p {
  font-size: 12px;
  font-weight: 400;
}
.userGenderProfile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.userGenderProfile > input {
  width: 98%;
  height: 40px;
  background: #f9f9f9;
  outline: none;
  border: none;
  border-radius: 6px;
  padding-left: 20px;
}
.userGenderProfile > input:focus {
  outline: 0.5px solid #afafaf;
}
.userGenderProfile > p {
  font-size: 12px;
  font-weight: 400;
}
.userCountryProfile {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.userCountryProfile > input {
  width: 100%;
  height: 40px;
  background: #f9f9f9;
  outline: none;
  border: none;
  border-radius: 6px;
  padding-left: 20px;
}
.userCountryProfile > input:focus {
  outline: 0.5px solid #afafaf;
}
.userCountryProfile > p {
  font-size: 12px;
  font-weight: 400;
}
.line {
  width: 100%;
  border: 1px solid #000000;
  margin-top: 40px;
}
.cardDetailsSectionProfile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.debitCardsProfile {
  height: auto;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.debitCardsProfile > h3 {
  font-size: 22px;
  font-weight: 600;
}
.cardDetailsProfile {
  display: flex;
  align-items: center;
  border: 0.5px solid #00000080;
  height: 70px;
  width: 280px;
  padding: 10px;
  justify-content: space-between;
  border-radius: 12px;
}
.cardImageProfile {
  height: 45px;
  width: 45px;
  background: #ffe8ce;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.cardNumProfile > p {
  font-size: 16px;
  font-weight: 500;
}
.cardNumProfile > h3 {
  font-size: 10px;
  font-weight: 500;
  color: #83858a;
}
.cardDetailsProfile > img {
  height: 14px;
  width: 14px;
  cursor: pointer;
}
.addCardsProfile {
  height: 70px;
  width: 200px;
  border: 0.5px dotted #00000080;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.addCardsProfile > button {
  height: 45px;
  width: 45px;
  background: #ffe8ce;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  font-size: 25px;
  color: #fc8a06;
  cursor: pointer;
}
.addCardsProfile > p {
  font-size: 17px;
  font-weight: 400;
}
.footerProfile {
  margin-top: 160px;
}
.checkoutArrowProfile {
  display: none;
}
@media (max-width: 992px) {
  .profileDetails {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    margin-top: 20px;
  }
  .imageProfile {
    display: none;
  }
  .checkoutArrowProfile {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60%;
  }
  .arrowLeftProfile {
    height: 25px;
    width: 25px;
    background: #fc8a06;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .arrowLeftProfile > img {
    height: 15px;
    width: 15px;
    cursor: pointer;
  }
  .checkoutArrowProfile > p {
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
    text-align: left;
  }
  .checkoutNameProfile {
    display: none;
  }
  .allNavProfile {
    display: none;
  }
  .containerProfile {
    padding: 0 20px;
  }
  .profileContainer {
    padding: 0 10px;
  }
  .cardDetailsSectionProfile {
    flex-wrap: wrap;
  }
  .cardDetailsProfile {
    width: 100%;
  }

  .cardNumProfile {
    width: 80%;
  }
  .addCardsProfile {
    width: 100%;
    justify-content: start;
    padding-left: 10px;
  }
  .containerProfile {
    padding-bottom: 50px;
  }
  .footerProfile {
    display: none;
  }
}
@media (max-width: 500px) {
  .cardNumProfile {
    width: 70%;
  }
  .debitCardsProfile > h3 {
    font-size: 16px;
  }
}
