.similarRestaurant {
  height: 365px;
  width: 100%;
  margin-top: 40px;
}

.similarRestaurantHeader {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  flex-shrink: 0;
}

.similarRestaurantHeader > h4 {
  color: #000000;
  font-size: 26px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  flex-shrink: 0;
}

.similarRestaurantImage {
  display: flex;
  gap: 20px;
}

.similarRestaurantDiv1 {
  height: 250px;
  width: 212.5px;
  background: #fc8a06;
  border-radius: 12px;
  flex-shrink: 0;
  margin-top: 30px;
  cursor: pointer;
}

.similarRestaurantImage1 {
  height: 183px;
  width: 100%;
}

.similarRestaurantImage1 > img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.similarRestaurantCards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.similarRestaurantCards > h3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  flex-shrink: 0;
}
@media (max-width: 1200px) {
  .similarRestaurantDiv1 {
    height: 200px;
    display: flex;
    flex-direction: column;
  }
  .similarRestaurantImage1 {
    height: 200px;
    gap: 5px;
    overflow: auto;
  }
  .similarRestaurantImage1 > img {
    object-fit: fill;
  }
  .similarRestaurantCards {
    margin: 10px 10px;
  }
  .similarRestaurantCards > h3 {
    font-size: 14px;
  }
  .similarRestaurantImage {
    gap: 15px;
  }
}
@media (max-width: 1200px) {
  .similarRestaurantDiv1 {
    height: 170px;
    display: flex;
    flex-direction: column;
  }
  .similarRestaurantImage1 {
    height: 200px;
    gap: 3px;
  }
  .similarRestaurantCards > h3 {
    font-size: 12px;
  }
  .similarRestaurant {
    height: 280px;
  }
}
@media (max-width: 992px) {
  .similarRestaurantDiv1 {
    width: 140px;
  }
  .similarRestaurantImage {
    flex-wrap: wrap;
    justify-content: center;
  }
  .similarRestaurant {
    height: auto;
    margin-bottom: 40px;
  }
}
