.SignupHeaderMain {
  display: flex;
  height: 140%;
  width: 100%;
  padding: 20px;
  gap: 10px;
}
.loginPageSignupHeader {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-itemssignupheader: center;
}
.itemsSignupHeader {
  width: 60%;
  height: 85%;
}
.loginLogoPartSignupHeader {
  display: flex;
  justify-content: center;
}
.loginLogoPSignupHeader {
  height: 13%;
  width: 47%;
  display: flex;
  align-itemssignupheader: center;
}
.loginLogoPSignupHeader > img {
  height: 100%;
  width: 100%;
}
.loginWelcomeSignupHeader {
  height: 10%;
  width: 100%;
  display: flex;
  align-itemssignupheader: center;
  justify-content: start;
  margin-top: 30px;
}
.loginWelcomeSignupHeader > h1 {
  font-size: 34px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
  letter-spacing: 1px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.loginDescpSignupHeader {
  height: auto;
  width: 100%;
  display: flex;
  align-itemssignupheader: center;
  justify-content: start;
  margin-top: 20px;
}
.loginDescpSignupHeader > p {
  font-size: 19px;
  color: #313957;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}
.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input > label {
  color: #0c1421;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.input > input {
  height: 45px;
  width: 100%;
  color: #8897ad;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  outline: none;
  border: 1.5px solid #00000066;
  border-radius: 100px;
  padding-left: 20px;
}
.loginBtnSignupHeader {
  height: 50px;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: #fc8a06;
  color: #ffffff;
  border: none;
  border-radius: 100px;
  margin-top: 36px;
  cursor: pointer;
}
.signup {
  height: 30px;
  width: 100%;
  margin-top: 31px;
  display: flex;
  align-itemssignupheader: center;
  justify-content: center;
}
.signup > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #313957;
}
.signup > p > span {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
  color: #fc8a06;
}
.loginImgeSignupHeader {
  height: 100%;
  width: 50%;
}
.img {
  height: 100%;
  width: 100%;
}
.img > img {
  height: 100%;
  width: 100%;
}

@media (max-width: 1150px) {
  .footerList2 {
    padding: 0 20px;
  }
  .terms {
    gap: 30px;
  }
}
@media (max-width: 1024px) {
  .footerList2 {
    padding: 0 20px;
  }
  .SignupHeaderMain {
    height: 140%;
  }
  .terms {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .footerList2 {
    padding: 0 10px;
  }
  .terms,
  .copyright {
    font-size: 13px;
    line-height: 20px;
  }
  .terms {
    gap: 10px;
  }
}

@media (max-width: 1024px) {
  .loginPageSignupHeader {
    align-itemssignupheader: center;
  }
  .loginImgeSignupHeader {
    height: auto;
  }
  .itemsSignupHeader {
    width: 80%;
    height: auto;
  }
  .footerList1 {
    height: auto;
  }
  .footerList2 {
    height: 20%;
  }
}
@media (max-width: 992px) {
  .loginImgeSignupHeader {
    display: none;
  }
  .loginPageSignupHeader {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .loginDescpSignupHeader > p {
    font-size: 15px;
    line-height: 24px;
  }
  .loginDescpSignupHeader > p > span {
    font-size: 15px;
  }
  .loginWelcomeSignupHeader > h1 {
    font-size: 28px;
    line-height: 10px;
  }
}
@media (max-width: 480px) {
  .signup > p {
    font-size: 15px;
  }
  .SignupHeaderMain {
    padding: 20px 0px;
  }
  .input > input {
    font-size: 13px;
  }
}
@media (max-width: 415px) {
  .signup > p {
    font-size: 13px;
  }
  .loginDescpSignupHeader > p {
    font-size: 13px;
    line-height: 24px;
  }
  .loginWelcomeSignupHeader > h1 {
    font-size: 22px;
    line-height: 10px;
  }
  .loginDescpSignupHeader > p > span {
    font-size: 13px;
  }
}
