.containerAddresss {
  padding: 0 70px;
  margin-bottom: 400px;
}
.addAddress {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.headingAddresss {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}
.headingAddresss > img {
  width: 39px;
  height: 39px;
  cursor: pointer;
}
.headingAddresss > p {
  font-size: 25px;
  font-weight: 600;
  line-height: 48px;
}
.addAddressButton {
  width: 200px;
  height: 170px;
  border-radius: 12px;
  border: 1px dashed #afafaf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.addAddressButton > p {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
}
.addbuttonAddress {
  height: 35px;
  width: 35px;
  background: #ffe8ce;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.addbuttonAddress > button {
  color: #fc8a06;
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
}
.userAddressAddress {
  width: 200px;
  height: 170px;
  border-radius: 12px;
  border: 1px solid #afafaf;
  padding: 10px;
}
.userNameAddress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20%;
  width: 100%;
}

.userNameAddress > p {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
}
.userNameAddress > button {
  width: 69px;
  height: 22px;
  border-radius: 100px;
  text-align: center;
  border: none;
  background: #ffedd8;
  color: #fc8a06;
  cursor: pointer;
}
.userAddressAddress > p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  margin-top: 20px;
}
.userAddressAddress > h3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
  margin-top: 10px;
}
.editRemoveAddress {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
.editRemoveAddress > p {
  font-size: 10px;
  font-weight: 400;
  line-height: 16.8px;
  color: #fc8a06;
  cursor: pointer;
}
.line {
  border: 1px solid #afafaf;
  height: 12px;
}

@media (max-width: 992px) {
  .allNavAddresss {
    display: none;
  }
  .footerAddress {
    display: none;
  }
  .headingAddresss {
    display: none;
  }
  .checkoutArrowAddresss {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 60%;
    margin-top: 40px;
  }
  .arrowLeftAddresss {
    height: 25px;
    width: 25px;
    background: #fc8a06;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .arrowLeftAddresss > img {
    height: 15px;
    width: 15px;
    cursor: pointer;
  }
  .checkoutArrowAddresss > p {
    font-size: 24px;
    font-weight: 600;
    line-height: 31.2px;
    text-align: left;
  }
  .addAddressButton {
    flex-wrap: wrap;
  }
  .addAddressButton {
    width: 100%;
    height: 60px;
    flex-direction: row;
    gap: 20px;
  }
  .userAddressAddress {
    width: 100%;
  }
  .containerAddresss {
    padding: 0 20px;
    padding-bottom: 150px;
  }
}
@media (max-width: 450px) {
  .checkoutArrowAddresss > p {
    font-size: 16px;
  }
}
