.footerMain {
  height: 45%;
  width: 100%;
}
.footerPart1 {
  height: 371px;
  width: 100%;
  background-color: #d9d9d9;
  display: flex;
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 60px;
  padding-bottom: 20px;
}
.footerListItems1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 30%;
}
.footerLogo {
  height: 66px;
  width: 268px;
}
.footerLogo > img {
  height: 100%;
  width: 100%;
}
.storeFooter {
  display: flex;
  height: 53px;
  width: 361px;
  gap: 2px;
  margin-top: 25px;
}
.footerStoreOne {
  height: 100%;
  width: 45%;
  background-color: #000;
  border-radius: 5px;
}
.footerStoreOne > img {
  height: 100%;
  width: 100%;
  padding: 5px;
}
.footerStoreTwo {
  height: 100%;
  width: 45%;
}
.footerStoreTwo > img {
  height: 100%;
  width: 100%;
}
.footerCompany {
  height: 20%;
  width: 100%;
  margin-top: 27px;
}
.footerCompany > p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.footerListItemsTwo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 70%;
}
.footerItemsOne {
  height: 100%;
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.footerItemOneHeading {
  color: #03081f;
  font-size: 18px;
  font-weight: 700;
  line-height: 43px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footerItemOneInput {
  height: 50px;
  width: 100%;
  position: relative;
}
.footerItemOneInput > input {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 100px;
  background-color: #d0d0d0;
  padding-left: 20px;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  line-height: 43px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  outline: none;
}
.footerItemOneInput > button {
  position: absolute;
  height: 100%;
  width: 40%;
  background-color: #fc8a06;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  right: 0px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footerPolicy {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.footerPolicy > h3 {
  color: #03081f;
  font-size: 13px;
  font-weight: 400;
  line-height: 43px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footerPolicy > h3 > span {
  font-size: 13px;
  font-weight: 400;
  line-height: 43px;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footerItemOneLogo {
  display: flex;
  height: 50px;
  width: 100%;
  gap: 10px;
  margin-left: 20px;
}
.footerItemOneLogo > img {
  height: 45px;
  width: 45px;
}
.footerItemTwo {
  height: 100%;
  width: 33%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.footerItemTwo > p {
  color: #03081f;
  font-size: 18px;
  font-weight: 700;
  line-height: 43px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footerItemTwo > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footerItemTwo > ul > li {
  list-style-type: none;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footerItemThree {
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.footerItemThree > p {
  color: #03081f;
  font-size: 18px;
  font-weight: 700;
  line-height: 43px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.footerItemThree > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footerItemThree > ul > li {
  list-style-type: none;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.listTwoFooter {
  height: 73px;
  width: 100%;
  background-color: #03081f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footerCopyright {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
  flex-shrink: 0;
}

.footerTerms {
  display: flex;
  gap: 40px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
  flex-shrink: 0;
}

@media (max-width: 1200px) {
  .footerItemOneHeading {
    font-size: 15px;
  }
  .footerItemOneInput {
    width: 90%;
  }
  .footerPart1 {
    padding-right: 20px;
  }
  .footerItemTwo > p {
    font-size: 15px;
  }
  .footerItemThree > p {
    font-size: 15px;
  }
  .footerItemTwo > ul > li {
    font-size: 13px;
  }
  .footerItemThree > ul > li {
    font-size: 13px;
  }
  .storeFooter {
    width: 300px;
  }
  .footerLogo {
    width: 200px;
    height: 55px;
  }
  .footerCompany > p {
    font-size: 13px;
  }
}
@media (max-width: 1100px) {
  .footerTerms {
    gap: 20px;
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .footerPart1 {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 0px;
    padding-right: 0px;
    gap: 40px;
  }
  .footerMain {
    height: auto;
  }
  .footerListItemsTwo {
    flex-direction: column;
    gap: 40px;
    flex-shrink: 0;
  }
  .footerItemOneHeading {
    font-size: 15px;
  }
  .footerItemOneInput {
    width: 90%;
  }
  .footerPart1 {
    padding-right: 20px;
  }
  .footerItemTwo > p {
    font-size: 18px;
  }
  .footerItemThree > p {
    font-size: 18px;
  }
  .footerItemTwo > ul > li {
    font-size: 15px;
  }
  .footerItemThree > ul > li {
    font-size: 15px;
  }
  .storeFooter {
    width: 360px;
  }
  .footerLogo {
    width: 260px;
    height: 55px;
  }
  .footerCompany > p {
    font-size: 15px;
  }
  .footerItemsOne {
    width: 350px;
  }
  .footerItemTwo {
    width: 350px;
    margin-left: 0;
  }
  .footerItemThree {
    width: 350px;
    margin-left: 0;
  }
  .footerCompany {
    flex-shrink: 0;
  }
  .footerListItems1 {
    width: 350px;
  }
  .footerPolicy {
    justify-content: center;
    margin-left: 0;
  }
  .footerItemOneLogo {
    justify-content: center;
    margin-left: 0;
  }
  .footerTerms {
    display: none;
  }
  .listTwoFooter {
    justify-content: center;
  }
}
@media (max-width: 400px) {
  .footerListItems1 {
    margin-left: 40px;
  }
  .footerListItemsTwo {
    margin-left: 40px;
  }
}
